<settings>
	
	<setting propertyKey="@Properties.keyOW" title="@Strings.keyOW" prompt="@Strings.KeyOWPrompt" helpUrl="https://home.openweathermap.org/api_keys">
		<settingConfig type="alphaNumeric" />
	</setting>

	<setting propertyKey="@Properties.Lat" title="@Strings.Lat">
		<settingConfig type="numeric" />
	</setting>

	<setting propertyKey="@Properties.Lon" title="@Strings.Lon">
		<settingConfig type="numeric" />
	</setting>

	<setting propertyKey="@Properties.HourlyIntrval" title="@Strings.HourlyIntrval">
		<settingConfig type="numeric" min="1" max="12" />
	</setting>

	<setting propertyKey="@Properties.Theme"
		title="@Strings.Theme">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Light</listEntry>
			<listEntry value="1">@Strings.Dark</listEntry>
		</settingConfig>
	</setting>

    <setting propertyKey="@Properties.WindAutocolor" title="@Strings.WindAutocolor">
        <settingConfig type="boolean" />
    </setting>
  
    <setting propertyKey="@Properties.TempAutocolor" title="@Strings.TempAutocolor">
        <settingConfig type="boolean" />
    </setting>
	
	<!--UNIT WIND SPEED -->
	<setting propertyKey="@Properties.WindSpeedUnit"
		title="@Strings.WindSpeedUnit">
		<settingConfig type="list">
			<listEntry value="0">@Strings.SpeedUnitMSec</listEntry>
			<listEntry value="1">@Strings.SpeedUnitKmH</listEntry>
			<listEntry value="2">@Strings.SpeedUnitMileH</listEntry>
			<listEntry value="3">@Strings.SpeedUnitFtSec</listEntry>
			<listEntry value="4">@Strings.SpeedUnitBof</listEntry>
			<listEntry value="5">@Strings.SpeedUnitKnots</listEntry>
		</settingConfig>
	</setting>
	
	<!--UNIT PRESSURE -->
	<setting propertyKey="@Properties.PressureUnit"
		title="@Strings.PressureUnit">
		<settingConfig type="list">
			<listEntry value="0">@Strings.PrUMmHg</listEntry>
			<listEntry value="1">@Strings.PrUPsi</listEntry>
			<listEntry value="2">@Strings.PrUInchHg</listEntry>
			<listEntry value="3">@Strings.PrUBar</listEntry>
			<listEntry value="4">@Strings.PrUKPa</listEntry>
		</settingConfig>
	</setting>

	<!-- FIELDS -->
	<setting propertyKey="@Properties.FT0"
		title="@Strings.FT0">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Empty</listEntry>
			<listEntry value="1">@Strings.Humidity</listEntry>
			<listEntry value="2">@Strings.Pressure</listEntry>
			<listEntry value="3">@Strings.Uvi</listEntry>
			<listEntry value="4">@Strings.Visibility</listEntry>
			<listEntry value="5">@Strings.DewPoint</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.FT1"
		title="@Strings.FT1">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Empty</listEntry>
			<listEntry value="1">@Strings.Humidity</listEntry>
			<listEntry value="2">@Strings.Pressure</listEntry>
			<listEntry value="3">@Strings.Uvi</listEntry>
			<listEntry value="4">@Strings.Visibility</listEntry>
			<listEntry value="5">@Strings.DewPoint</listEntry>
		</settingConfig>
	</setting>
	
	
</settings>
